[Unit]
Description=The server/receptor piece for the inquisitor monitoring software

[Service]
Type=simple
PIDFile=/var/run/inquisitor-receptor.pid
ExecStart=/usr/bin/inquisitor_receptor
WorkingDirectory=/etc/inquisitor-receptor

[Install]
WantedBy=multi-user.target
